---
import Footer from '@/components/Footer.astro'
import Header from '@/components/Header.astro'
import LinkButton from '@/components/LinkButton.astro'
import { SITE } from '@/config'
import Layout from '@/layouts/Layout.astro'
import Main from '@/layouts/Main.astro'
---

<Layout title={`404 Not Found | ${SITE.title}`}>
  <Header />

  <Main className="flex flex-1 items-center justify-center">
    <div class="mb-14 flex flex-col items-center justify-center">
      <h1 aria-label="404 Not Found" class="text-9xl c-accent font-bold">404</h1>
      <span aria-hidden="true">¯\_(ツ)_/¯</span>
      <p class="mt-4 text-2xl sm:text-3xl">页面没有找到</p>
      <LinkButton href="/" className="my-6 text-lg underline underline-offset-8 decoration-dashed">返回首页</LinkButton>
    </div>
  </Main>

  <Footer />
</Layout>
