---
import FormattedDatetime from './FormattedDatetime.astro'

interface Props {
  datetime: string | Date
  size?: 'sm' | 'lg'
  className?: string
}

const { datetime, size = 'sm', className } = Astro.props
---

<div class='flex items-center op-80 space-x-2' class:list={[className]}>
  <i
    class='i-custom-calendar inline-block h-6 w-6 c-base'
    class:list={[size === 'sm' ? 'scale-90' : 'scale-100']}></i>
  <span class='sr-only'>Posted on:</span>
  <span class='italic' class:list={[size === 'sm' ? 'text-sm' : 'text-base']}>
    <FormattedDatetime datetime={datetime} />
  </span>
</div>
