---
import { getLocalDate, getLocalTime } from '@/utils/datetime';
interface Props {
  datetime: string | Date;
}

const { datetime } = Astro.props;

const myDatetime = new Date(datetime);
---

{getLocalDate(myDatetime)}
<span aria-hidden="true"> |</span>
<span class="sr-only">&nbsp;at</span>
{getLocalTime(myDatetime)}
