---
import { SITE } from '@/config';

import Hr from './Hr.astro';
import NavMenu from './NavMenu';

export interface Props {
  activeNav?: 'posts' | 'archives' | 'tags' | 'about' | 'search' | undefined;
}

const { activeNav } = Astro.props;
---

<header>
  <div class="mx-auto max-w-3xl flex flex-col items-center justify-between sm:flex-row">
    <div class="relative w-full flex items-start justify-between p-4 sm:items-center sm:py-8">
      <a href='/' class="absolute flex items-center whitespace-nowrap py-1 text-xl font-semibold sm:text-2xl">
        <img src={`/favicon.svg`} alt={SITE.author} class="h-6 w-6" />
        <span class="ml-2">{SITE.title}</span>
      </a>
      <NavMenu activeNav={activeNav} client:only="solid-js" />
    </div>
  </div>
</header>
<Hr className="w-full pb-10" />
