---
interface Props {
  noPadding?: boolean
  ariaHidden?: boolean
  className?: string
}

const { noPadding = false, ariaHidden = true, className } = Astro.props
---

<div class:list={[noPadding ? 'px-0' : 'px-4', className]} class='mx-auto max-w-3xl'>
  <hr class='b-brd b-solid' aria-hidden={ariaHidden} />
</div>
