---
import { SITE, SOCIALS } from '@/config'
import LinkButton from './LinkButton.astro'

export interface Props {
  centered?: boolean
}

const { centered = false } = Astro.props

const socialIcons: Record<string, string> = {
  Github: 'i-mdi-github',
  Mail: 'i-mdi-email-outline'
}
---

<div class='flex-wrap justify-center gap-1' class:list={{ flex: centered }}>
  {
    SOCIALS.filter((social) => social.active).map((social) => (
      <LinkButton href={social.href} className='p-2 text-0 hover:rotate-6 sm:p-1' title={social.linkTitle} target='_blank'>
        <i class='h-7.5 w-7.5 sm:(h-6.6 w-6.6)' class:list={socialIcons[social.name] ?? ''} />
      </LinkButton>
    ))
  }
  <LinkButton
    href={`${SITE.base}rss.xml`}
    className='p-2 text-0 hover:rotate-6 sm:p-1'
    aria-label='rss feed'
    title='RSS Feed'
    target='_blank'
  >
    <i class='i-custom-rss inline-block h-7.5 w-7.5 c-accent sm:(h-6.6 w-6.6)'></i>
  </LinkButton>
</div>
