---
import { SITE } from '@/config'
export interface Props {
  name: string
  size?: 'sm' | 'lg'
}

const { name, size = 'sm' } = Astro.props
---

<li class={`inline-block ${size === 'sm' ? 'my-1 underline-offset-4' : 'my-3 mx-1 underline-offset-8'}`}>
  <a
    href={`${SITE.base}/tags/${name.toLowerCase()}`}
    transition:name={name.toLowerCase()}
    class:list={`${size === 'sm' ? 'text-sm' : 'text-lg'}`}
    class='relative underline decoration-dashed hover:-top-0.5 pr-2 group hover:c-accent focus-visible:p-1'
  >
    <i
      class='inline-block -mr-5 h-6 w-6 op-80 i-custom-topic origin-rb v-text-top'
      class:list={`${size === 'sm' ? 'scale-75' : 'scale-95'}`}></i>
     &nbsp;<span>{name.toLowerCase()}</span>
  </a>
</li>
