body {
  --at-apply: flex min-h-[100svh] flex-col bg-fill font-mono c-base selection:(bg-accent bg-op-70 c-fill);
}

section,
footer {
  --at-apply: mx-auto max-w-3xl px-4;
}

a {
  --at-apply: outline-2 outline-offset-1 outline-fill focus-visible:no-underline focus-visible:outline-dashed;
}

svg {
  --at-apply: inline-block h-6 w-6 fill-base group-hover:fill-accent;
}

svg.icon-tabler {
  --at-apply: inline-block h-7.5 w-7.5 fill-transparent stroke-current stroke-2 op-90 group-hover:fill-transparent sm:(w-6.6 h-6.6);
}

#main-content p {
  --at-apply: mb-6 mt-2 italic;
}

/* .prose {
  --at-apply: prose-headings:!mb-3 prose-headings:!c-base 
  prose-h3:italic prose-p:!c-base 
  prose-a:!c-base prose-a:!decoration-dashed prose-a:underline-offset-8
  hover:prose-a:c-accent prose-blockquote:!b-l-accent
  prose-blockquote:b-op-50 prose-blockquote:op-80
  prose-figcaption:!c-base prose-figcaption:op-70
  prose-strong:!c-base

  
  prose-code:rounded prose-code:bg-card 
  prose-code:bg-op-75 prose-code:p-1 prose-code:!c-base 
  prose-code:before:!content-empty prose-code:after:!content-empty
  prose-pre:!c-base prose-ol:!c-base 
  prose-ul:overflow-x-clip prose-ul:!c-base prose-li:marker:!c-accent
  prose-table:c-base prose-th:border
  prose-th:b-line prose-td:border 
  prose-td:b-line prose-img:mx-auto 
  prose-img:!mt-2 prose-img:b-2 
  prose-img:b-line prose-hr:!b-line;
} */
.prose {
  --at-apply: prose-headings:mb-3 prose-headings:c-base;
}

.prose thead th:first-child,
tbody td:first-child,
tfoot td:first-child {
  padding-left: 0.5714286em;
}

.prose h2#table-of-contents {
  --at-apply: mb-2;
}

.prose details {
  --at-apply: inline-block cursor-pointer select-none c-base;
}

.prose summary {
  --at-apply: focus-outline;
}

.prose h2#table-of-contents+p {
  --at-apply: hidden;
}

/* scrollbar */
html {
  overflow-y: scroll;
}

/* width */
::-webkit-scrollbar {
  --at-apply: w-1.5 h-1.5;
}

/* Track */
::-webkit-scrollbar-track {
  --at-apply: bg-fill;
}

/* Handle */
::-webkit-scrollbar-thumb {
  --at-apply: bg-card rd-full;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  --at-apply: bg-card-muted;
}

code,
blockquote {
  word-wrap: break-word;
}

pre>code {
  white-space: pre;
}

.focus-outline {
  --at-apply: outline-2 outline-offset-1 outline-fill focus-visible:no-underline focus-visible:outline-dashed;
}