/* --------------------------------- 暗黑主题切换 Start --------------------------------- */
::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}
.dark::view-transition-old(root) {
  z-index: 1;
}
.dark::view-transition-new(root) {
  z-index: 999;
}
::view-transition-old(root) {
  z-index: 999;
}
::view-transition-new(root) {
  z-index: 1;
}
/* --------------------------------- 暗黑主题切换 End --------------------------------- */

/* --------------------------------- 滚动条 Start --------------------------------- */
html {
  overflow-y: scroll;
}
/* width */
::-webkit-scrollbar {
  --at-apply: w-1.5 h-1.5;
}
/* Track */
::-webkit-scrollbar-track {
  --at-apply: bg-fill;
}
/* Handle */
::-webkit-scrollbar-thumb {
  --at-apply: bg-card rd-full;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  --at-apply: bg-card-muted;
}
/* --------------------------------- 滚动条 End --------------------------------- */

body {
  /* prettier-ignore */
  --at-apply: flex min-h-100svh flex-col bg-fill c-base selection:(bg-accent bg-op-70 c-fill);
}
section,
footer {
  --at-apply: mx-auto max-w-3xl px-4;
}
a {
  /* prettier-ignore */
  --at-apply: outline-2 outline-offset-1 outline-fill focus-visible:(no-underline outline-dashed);
}

/* --------------------------------- prose Start --------------------------------- */
.prose {
  --un-prose-hr: rgb(var(--un-preset-theme-colors-base) / 0.2);
}
.prose a:not(.group) {
  --at-apply: decoration-dashed underline-offset-8 break-words hover: c-accent;
}
.prose img {
  --at-apply: b-2 b-brd mx-auto mt-2 mb-2em;
}
.prose ol,
.prose ul {
  --at-apply: pl-10;
}
.prose th,
.prose td {
  --at-apply: b-1;
}
.prose table {
  --at-apply: border-spacing-0 border-collapse block w-[max-content] max-w-full overflow-auto;
}
.prose table th {
  --at-apply: font-semibold;
}
.prose table td,
.prose table th {
  --at-apply: b-brd b-1 b-solid;
}
.prose hr {
  border-bottom-width: 0;
}
/* --------------------------------- prose End --------------------------------- */

/* --------------------------------- 代码高亮主题 Start --------------------------------- */
:root.dark .astro-code,
:root.dark .astro-code span {
  background-color: var(--shiki-dark-bg) !important;
  color: var(--shiki-dark) !important;
}
/* --------------------------------- 代码高亮主题 End --------------------------------- */

/* --------------------------------- code copy button Start --------------------------------- */
.code-wrapper {
  --at-apply: relative;
}
.copy-code {
  --at-apply: absolute top-0 right-0 bg-card px-2 py-1 text-xs c-base;
}
.copy-code:hover {
  --at-apply: bg-card-muted;
}
/* --------------------------------- code copy button End --------------------------------- */
